/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

html,
body {
  overflow-x: hidden;
  border-top: 4px solid #128dd7;
}


html, h1, h2, h3, h4, h5, h6 {
  /*font-family: "UntitledSans";*/
  font-family: "InterUI";
  /*font-weight: 400;*/
  color: #313131;
  letter-spacing: -.025rem;
}

/* Code */
code,
pre {
  font-family: "source-code-pro";
}
.gist .gist-file {
  font-family: "source-code-pro";
}


@font-face {
  font-family: 'InterUI';
  src: url('../fonts/Inter-UI-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterUI';
  src: url('../fonts/Inter-UI-Italic.woff') format('woff');
  font-weight: italic;
  font-style: italic;
}


@font-face {
  font-family: 'InterUI';
  src: url('../fonts/Inter-UI-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'InterUI';
  src: url("../fonts/Inter-UI-Bold.woff") format("woff");
  font-style:  normal;
  font-weight: 800;
}

@font-face {
  font-family: 'source-code-pro';
  src: url('../fonts/SourceCodePro-Regular.otf.woff') format('woff');
  /*font-weight: bold;*/
  /*font-style: bold;*/
}

.grid .unit p {
  text-align: center;
}

.grid .unit small {
  text-align: center;
  color: #83F275;
}

.grid img {
    display: block;
    margin: 0 auto;
}

/*
 * Container
 *
 * Center the page content.
 */


.container {
  max-width: 28rem;
}

@media (min-width: 38em) {
  .container {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 38rem;
  }
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #eee;
  text-align: center;
  color: #c0c0c0;
}


.masthead-title > a.meheader {
  margin-top: 0;
  margin-bottom: 0;
  color: #128dd7;
  font-weight: 800;
}

.masthead > small {
  margin-top: -2rem;
  color: #c0c0c0;
  /*color: #CF3261;*/
  font-size: 75%;
  font-weight: 400;
  letter-spacing: 0;
}
.masthead > small > a {
  color: #c0c0c0;
}

.masthead > span > a.linx {
  color: #128dd7;
  font-weight: 400;
  font-size: 80%;
  letter-spacing: 0;
}


/*.masthead-title small a {
  color: #c0c0c0;
}
*/

@media (max-width: 48em) {
  .masthead {
    text-align: center;
  }
  .masthead-title > small {
    display: none;
  }
}


ul#markdown-toc {
  list-style: none;
  background-color: #f9f9f9;
  padding: 1rem;
}

img.centre {
  display: block;
  text-align: center;
}

img.cc {
  display: inline;
  max-width: 90%;
  margin: 0 0 0rem;
  border-radius: 0px;
}



div .collapse {
  display: none;
}

.footnotes { 
  border-top: 1px solid #969696;
  margin-top: 4em;
  font-size: 70%;
}

.footnotes > ol {
  padding-top: 2em;
}

pre.bibtex {
  font-size: 70%;
}

#map {
  height: 400px;
}

.grey {
  display: block;
  margin-top: -1rem;
  /*margin-bottom: 1rem;*/
  color: #9a9a9a;
}


/* labels à la Bootstrap */
.label {
    padding: 1px 3px 2px;
    /*font-size: 9.75px;*/
    font-size: 65%;
    font-weight: bold;
    color: #ffffff;
    /*text-transform: uppercase;*/
    white-space: nowrap;
    background-color: #128dd7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label.success {
    background-color: #13bb06;
}
.label.warning {
    background-color: #EA9E3E;
}
.label.info {
    background-color: #c1c1c1;
}

/* bleu colour */
.theme-base-bleu .sidebar,
.theme-base-bleu .sidebar-toggle:active,
.theme-base-bleu #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #128dd7;
}
/*.theme-base-bleu .container h3,*/
.theme-base-bleu .sidebar-toggle,
.theme-base-bleu .related-posts li a:hover {
  color: #128dd7;
}
