/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

html {
  /*font-family: "ff-nuvo-web-pro";*/
  font-family: ""jaf-facitweb";";

}

ul#markdown-toc {
  list-style: none;
  background-color: #f9f9f9;
  padding: 1rem;
}


.masthead-title small a {
  color: #c0c0c0;
}

img.centre {
  display: block;
  text-align: center;
}

/* Code */
code,
pre {
  font-family: "source-code-pro";
}
.gist .gist-file {
  font-family: "source-code-pro";
}


div .collapse {
  display: none;
}

pre.bibtex {
  font-size: 70%;
}

#map {
  height: 400px;
}

.grey {
  display: block;
  margin-top: -1rem;
  /*margin-bottom: 1rem;*/
  color: #9a9a9a;
}

/* bleu colour */
.theme-base-bleu .sidebar,
.theme-base-bleu .sidebar-toggle:active,
.theme-base-bleu #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #128dd7;
}
.theme-base-bleu .container a,
.theme-base-bleu .sidebar-toggle,
.theme-base-bleu .related-posts li a:hover {
  color: #128dd7;
}


