<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  {% include head.html %}

  <body class="theme-base-bleu">
  <!-- <body class="theme-base-08"> -->


    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <a class="meheader" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a><br>
        </h1>
        <small>{{ site.tagline }}</small>

        <!-- &bull; -->
        <!-- <i class="fa fa-circle-thin"></i> -->
        <br>
        {% assign pages_list = site.pages | sort:"url" %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <span><a class="linx" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a> 
              {% if forloop.rindex > 1 %}
              &bull; </span>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}      
      </header>
      <main>
        {{ content }}
      </main>

    {% include footer.html %}

  </body>
</html>
